@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@font-face {
  font-family: 'Tilt Neon', sans-serif;
}
$font-color: #EEEEEE;
$background: #222831;
$foreground: #393E46;
$blue-elem: #00ADB5;
$bright-foreground: #EEEEEE33;
$red: #7D0A0A;

* {
  scrollbar-width: thin;
  scrollbar-color: $bright-foreground $background;
  a {
    text-decoration: none;
    color: $font-color;
  }
  input {
    outline: none;
    background: none;
    border: none;
    &:focus, &:focus-visible, &:focus-within {
      outline: none;
      background: none;
      border: none;
    }
  }
  button {
    border: none;
    background: none;
  }
}

body {
  background-color: $background;
  scrollbar-width: none;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 16px 0;
  overflow-x: hidden;

  .main {
    justify-content: space-between;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 16px 0;

    .logo-link {
      flex: 1 1 auto;
      width: 30%;
      height: fit-content;
    }

    .header-nav {
      display: flex;
      flex: 1 0 content;
      align-items: center;
      justify-content: center;
      gap: clamp(10px, 8%, 3rem);
      padding: 0 calc(8px + .3vw);
      width: 30%;

      .category-link {
        width: max-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $blue-elem;
        font-size: calc(15px + .4vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .header-search-bar-ctn {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      width: 30%;

      .header-search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(3px + .2vw);
        border-radius: calc(12px + .3vw);
        border: 3px solid $font-color;
        width: 60%;
        min-width: 7rem;
        height: fit-content;
        max-width: 400px;

        .filter-search-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          height: fit-content;
          padding: calc(4px + .2vw);
          background-color: $foreground;
          border-radius: calc(5px + .3vw);

          .filter-search-text {
            width: fit-content;
            font-family: "Tilt Neon", sans-serif;
            font-weight: 400;
            color: $font-color;
            font-size: calc(10px + .5vw);
            text-align: center;
            letter-spacing: 0;
            line-height: normal;
            padding: 0 calc(2px + .2vw);
          }
        }

        .icon-search {
          height: calc(18px + .6vw);
        }
      }
    }
  }

  .variable {
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: 2rem;
    padding: 16px 0;

    .header-buttons {
      height: calc(25px + .5vw);
      display: flex;
      align-items: center;
      flex: 1;
      gap: calc(20px + 1vw);

      .login-btn, .register-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        gap: calc(8px + .3vw);
        padding: calc(6px + .3vw) calc(20px + .5vw);
        border-radius: calc(9px + .3vw);
      }

      .login-btn {
        background-color: $blue-elem;
      }

      .register-btn {
        background-color: $foreground;
      }

      .header-btn-text {
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(12px + .4vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .filler {
      display: flex;
      flex: 1;
    }

    .header-msg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(12px + .4vw);
      width: fit-content;
      align-items: center;
      position: relative;

      .line-top {
        width: 174px;
        position: relative;
        height: 2px;
      }

      .invitation-msg {
        position: relative;
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $blue-elem;
        font-size: calc(13px + .4vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        &:hover {
          color: $font-color;
        }
      }

      .line-bottom {
        width: 237px;
        position: relative;
        height: 2px;
      }
    }
  }
}

.logo {
  display: flex;
  flex: 1;
  object-position: left;
  object-fit: contain;
  height: clamp(2rem, calc(25px + 1.5vw), 60px);
}

// div filled with any single page's template
.template {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: $background;
  margin-bottom: 150px;
}

// footer
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: calc(2rem + 1vw);
  width: calc(100% - calc(calc(13px + .4vw) * 2));
  height: calc(7rem + 10vw);
  padding: calc(13px + .4vw);
  background-color: transparent;

  .footer-nav-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(5px + .3vw);
    padding: calc(15px + .4vw) 0;
    width: 40%;

    .logo-ctn {
      display: flex;
      justify-content: center;
      width: 70%;

      .logo {
        object-position: center;
      }
    }

    .footer-nav {
      display: flex;
      align-items: center;
      gap: calc(8px + .5vw);

      .header-nav-text {
        width: fit-content;
        height: calc(15px + .4vw);
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(13px + .4vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .credits {
      width: 90%;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: calc(11px + .4vw);
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }

    .copyright {
      width: 70%;
      height: 20px;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: calc(11px + .4vw);
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
  }

  .footer-img-reading {
    height: 100%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}