@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@font-face {
  font-family: 'Tilt Neon', sans-serif;
}
$font-color: #EEEEEE;
$background: #222831;
$foreground: #393E46;
$blue-elem: #00ADB5;

body {
  background-color: $background;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;

  .main {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    .header-nav {
      display: inline-flex;
      flex-wrap: wrap;
      height: 44px;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      padding: 7px 10px;
      flex: 0 0 auto;

      .category-link {
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $blue-elem;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .header-search-bar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 155px;
      padding: 5px 8px;
      flex: 0 0 auto;
      border-radius: 15px;
      border: 3px solid $font-color;

      .filter-search-bar {
        display: inline-flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        flex: 0 0 auto;
        background-color: $foreground;
        border-radius: 8px;

        .filter-search-text {
          width: fit-content;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0;
          line-height: normal;
          padding: 2px 4px;
        }
      }

      .icon-search {
        width: 36.3px;
        height: 35px;
      }
    }
  }

  .variable {
    width: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 2rem;

    .header-buttons {
      height: 35px;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      gap: 25px;

      .login-btn, .register-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        gap: 10px;
        padding: 10px 25px;
        border-radius: 12px;
      }

      .login-btn {
        background-color: $blue-elem;
      }

      .register-btn {
        background-color: $foreground;
      }

      .header-nav-text {
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .header-msg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 0 12rem 0 0;
      flex: 1;
      align-items: center;
      position: relative;

      .line-top {
        width: 174px;
        position: relative;
        height: 2px;
      }

      .invitation-msg {
        position: relative;
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $blue-elem;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }

      .line-bottom {
        width: 237px;
        position: relative;
        height: 2px;
      }
    }
  }
}

// div filled with any single page's template
.template {
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: $background;
}

// footer
.footer {
  display: flex;
  width: 100%;
  height: 340px;
  align-items: flex-end;
  gap: 3rem;
  background-color: transparent;
  justify-content: center;

  .footer-nav-credits {
    display: flex;
    flex-direction: column;
    width: 37%;
    align-items: center;
    gap: 9px;
    padding: 20px 0;

    .footer-nav {
      display: inline-flex;
      align-items: center;
      position: relative;
      flex: 0 0 auto;

      .header-nav-text {
        width: 221px;
        height: 25px;
        margin-top: -1px;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .credits {
      width: 630px;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }

    .copyright {
      width: 528px;
      height: 20px;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
  }

  .footer-img-reading {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    width: 37%;
  }
}

.logo {
  width: 280px;
  height: 60px;
}