@import "base";

.manga-presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .manga-banner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 400px;

    img.background-img {
      position: absolute;
      width: 100%;
      height: inherit;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      filter: blur(8px) grayscale(20%) brightness(50%);
    }
    .banner-text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 60%;
      height: calc(100% - 24px);

      .manga-title {
        width: 90%;
        text-align: center;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(25px + 1.5vw);
        letter-spacing: 0;
        line-height: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .manga-attributes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(1rem + 1vw);
        width: 100%;
        padding: calc(8px + .4vw);

        .attribute {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(8px + .4vw);
          padding: calc(8px + .4vw);
          border-radius: calc(5px + .4vw);

          .attribute-label {
            width: fit-content;
            text-align: center;
            font-family: "Tilt Neon", sans-serif;
            font-weight: 400;
            color: $font-color;
            font-size: calc(1rem + 1vw);
            letter-spacing: 0;
            line-height: normal;
          }
          .rating-tag {
            display: flex;
            gap: calc(3px + .3vw);

            img.icon-star-outline {
              width: calc(1rem + 1vw);
              height: calc(1rem + 1vw);
            }
          }
          .div-attr-ctn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(8px + .4vw);
            padding: calc(3px + .2vw) calc(8px + .4vw);
            border-radius: calc(5px + .4vw);
          }
          .attr-text {
            width: fit-content;
            text-align: center;
            font-family: "Tilt Neon", sans-serif;
            font-weight: 400;
            color: $font-color;
            font-size: calc(14px + .8vw);
            letter-spacing: 0;
            line-height: normal;
          }
        }
      }
      .manga-read-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(8px + .4vw);
        padding: calc(3px + .3vw) calc(12px + .6vw);
        background-color: $blue-elem;
        border-radius: calc(8px + .5vw);

        .manga-read-btn-text {
          width: fit-content;
          text-align: center;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: calc(14px + .8vw);
          letter-spacing: 0;
          line-height: normal;
        }
        img.icon-menu-book {
          width: calc(1rem + 1vw);
          height: calc(1rem + 1vw);
        }
      }
    }
    .manga-remove {
      display: flex;
      align-items: flex-start;
      gap: calc(8px + .4vw);
      padding: 2px;
      background-color: $blue-elem;
      border-radius: calc(8px + .5vw);

      img.bookmark-remove {
        width: calc(2rem + 2vw);
        height: calc(2rem + 2vw);
      }
    }
  }
  .manga-card-ctn-abs {
    position: absolute;
    top: calc(1.5rem + 1.5vw);
    right: 0;
    width: calc(100% - calc(calc(1.5rem + 1.5vw) * 2));
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(8px + .4vw);
    padding: 0 calc(1.5rem + 1.5vw);

    .manga-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100px + 18vw);
      aspect-ratio: 12/16;
      padding: calc(10px + .5vw);
      border-radius: calc(7px + .4vw);
      transform: rotate(12deg);
      background-color: $font-color;
      box-shadow: 0 12px 12px 7px #00000040;

      .manga-card-img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: calc(4px + .3vw);
      }
    }
  }
  .manga-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(8px + .4vw);

    .manga-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      padding: 0 calc(22px + .5vw);

      p {
        width: 100%;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(14px + .4vw);
        text-align: justify;
      }
      .manga-tag-list {
        display: flex;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: calc(2px + .2vw) calc(5px + .3vw);
        flex-wrap: wrap;

        .manga-tag {
          display: flex;
          padding: calc(3px + .2vw) calc(5px + .3vw);
          background-color: $foreground;
          border-radius: calc(3px + .2vw);
          align-items: center;

          .manga-tag-text {
            width: fit-content;
            font-family: "Tilt Neon", sans-serif;
            font-weight: 400;
            color: $font-color;
            font-size: calc(12px + .4vw);
            text-align: center;
            letter-spacing: 0;
            line-height: normal;
          }
        }
      }
    }
  }
}

.manga-chapters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 50px);
  padding: 10px 25px;

  .chapters-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .title-ctn {
      display: flex;
      gap: 10px;
      padding: 0 10px;
      background-color: $foreground;
      border-radius: 12px 12px 0 0;

      .title {
        width: fit-content;
        text-align: center;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
      }
    }
    .sorting {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 10px;

      .sort-title {
        width: 100px;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
      }
      .sort-tag {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 8px;
        background-color: $foreground;

        .sort-tag-text {
          width: fit-content;
          text-align: center;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: 20px;
          letter-spacing: 0;
          line-height: normal;
        }
      }
      .selected {
        background-color: $blue-elem;
      }
    }
  }
  .chapters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: fit-content;
    max-height: 70vh;
    padding: 10px 0;
    border-radius: 0 12px 12px 12px;
    background-color: $foreground;
    overflow-y: auto;
    overflow-x: hidden;

    .chapter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 40px);
      height: 50px;
      padding: 3px 20px;

      &:nth-child(even) {
        background-color: $bright-foreground;
      }
      p.chapter-title {
        flex: 1 0 auto;
        width: 12vw;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      .source {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 7px;

        img.icon-group {
          width: 37px;
          height: 37px;
        }
        .source-name {
          width: 12vw;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: 18px;
          letter-spacing: 0;
          line-height: normal;
        }
      }
      a.chapter-link {
        padding: 0;
        margin: 0;

        img.icon-menu-book {
          width: 44px;
        }
      }
    }
  }
}
