@import "base";

h2.chapter-scan-manga-title,
h3.chapter-scan-title {
  width: 100%;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: $font-color;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

h2.chapter-scan-manga-title {
  font-size: calc(22px + 1.2vw);
}

h3.chapter-scan-title {
  font-size: calc(20px + 1vw);
}

.chapter-scan-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  img.chapter-scan {
    object-fit: contain;
  }
}

@media screen and (max-width: 1080px) {
  .chapter-scan-list {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .chapter-scan-list {
    width: 100%;
  }
}

.tags-title {
  width: 90%;
  height: fit-content;
  margin-top: 3rem;

  .tags-title-text {
    padding-left: 3rem;
    width: fit-content;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 400;
    color: $font-color;
    font-size: calc(26px + 1vw);
    letter-spacing: 0;
    line-height: normal;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 90%;
  height: fit-content;

  .tag {
    width: fit-content;
    height: fit-content;
    padding: calc(10px + 1vw) calc(20px + 1vw);
    border-radius: calc(10px + .3vw);
    background-color: $foreground;
    transition: background-color ease-in-out 300ms;

    .tag-name {
      width: max-content;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: calc(10px + 1vw);
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }

    &:hover {
      background-color: $blue-elem;
    }
  }
}


.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;

  .error-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .text-wrapper {
        width: max-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(24px + 3vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
      .div {
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: calc(24px + 3vw);
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }
  }
  .error-img {
    width: 30vw;
    height: 60vh;
    box-shadow: inset 0px -12px 35px 25px #222831, inset 0px 0px 5px #222831;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .error-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 35%;

    p.p {
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: calc(24px + 3vw);
      text-align: left;
      letter-spacing: 0;
      line-height: calc(42px + 5vw);
    }
  }
}
