@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import "base";
@font-face {
  font-family: 'Tilt Neon', sans-serif;
}

a {
  text-decoration: none;
  color: $font-color;
}

.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  min-height: fit-content;
  align-items: center;
  justify-content: space-evenly;

  img.background-img {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    filter: blur(8px) grayscale(20%) brightness(50%);
  }

  .banner-text {
    display: flex;
    flex: 0 0 auto;
    width: 60%;
    max-height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 10px 20px;

    .banner-title {
      position: relative;
      height: fit-content;
      width: 85%;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: 30px;
      text-align: center;
    }

    div.banner-description {
      position: relative;
      height: 60%;
      overflow-y: scroll;
      width: 85%;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: 1rem;
      text-align: justify;
    }

    .tags {
      display: flex;
      width: 90%;
      height: fit-content;
      align-items: center;
      gap: 5px 7px;
      position: relative;
      flex-wrap: wrap;

      .banner-tag {
        display: flex;
        gap: 5px;
        padding: 3px 8px;
        flex: 0 0 auto;
        background-color: $foreground;
        border-radius: 5px;
        align-items: center;

        .banner-tag-text {
          width: fit-content;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: 12px;
          text-align: center;
          letter-spacing: 0;
          line-height: normal;
        }
      }
    }

    .banner-buttons {
      display: flex;
      width: 500px;
      height: fit-content;
      justify-content: center;
      gap: 30px;
      align-items: center;
      position: relative;

      a {
        .read-btn, .info-btn {
          display: flex;
          width: 125px;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px;
          position: relative;
          align-self: stretch;
          border-radius: 10px;
          overflow: hidden;
        }
        .info-btn {
          background-color: $background;
        }
        .read-btn {
          background-color: $blue-elem;
        }
      }
      .banner-btn-text {
        position: relative;
        width: fit-content;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 400;
        color: $font-color;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
    }
  }

  .banner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    margin-top: 3%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 15px;
    transform: rotate(12deg);
    background-color: $font-color;
    box-shadow: 0 12px 12px 7px #00000040;

    img.banner-cover {
      max-height: 100%;
      max-width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

.latest-updates, .popular {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  //background-color: $font-color;

  .category-title {
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;

    .category-title-text {
      position: relative;
      width: fit-content;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 400;
      color: $font-color;
      font-size: 25px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
  }

  .category-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    overflow-x: scroll;

    .category-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: fit-content;

      .category-card-cover {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 288px;
        aspect-ratio: 12/16;
        padding: 8px 10px;
        border-radius: 12px;
        background-color: $font-color;
        box-shadow: 0 7px 7px 5px #00000040;

        .category-card-img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          border-radius: 12px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: filter ease-in 200ms;
        }
        .category-card-hover {
          display: none;
        }
        .hover-description {
          display: none;
        }
        .hover-tags {
          display: none;
        }
        .hover-buttons {
          display: none;
        }
        &:hover {
          overflow: hidden;
          .category-card-img {
            filter: blur(8px) grayscale(20%) brightness(60%);
          }
          .category-card-hover {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 34px;
            border-radius: 12px 12px 0 0;
            top: 0;
            left: 0;
            background-color: $blue-elem;
          }
          .hover-description {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            width: 90%;
            height: 60%;
            color: $font-color;
            z-index: 10;
            font-family: "Tilt Neon", sans-serif;

            .description-title {
              text-align: center;
              font-size: 18px;
            }
            .description-ctn {
              text-align: justify;
              font-size: 11px;
              overflow-y: scroll;
              overflow-wrap: anywhere;
            }
          }
          .hover-tags {
            z-index: 10;
            display: flex;
            width: 90%;
            height: 22%;
            align-items: center;
            justify-content: center;
            gap: 2px 4px;
            flex-wrap: wrap;
            overflow-y: scroll;
            a {
              margin: 0;
              padding: 0;

              .hover-tag {
                display: flex;
                gap: 5px;
                padding: 2px 4px;
                flex: 0 0 auto;
                background-color: $foreground;
                border-radius: 4px;
                align-items: center;

                .hover-tag-text {
                  width: fit-content;
                  font-family: "Tilt Neon", sans-serif;
                  font-weight: 400;
                  color: $font-color;
                  font-size: 11px;
                  text-align: center;
                  letter-spacing: 0;
                  line-height: normal;
                }
              }
            }

          }
          .hover-buttons {
            z-index: 10;
            width: 100%;
            height: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 26px;
            font-family: "Tilt Neon", sans-serif;
            a {
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 10px;
              border-radius: 6px;

              span.hover-btn-text {
                width: fit-content;
                font-family: "Tilt Neon", sans-serif;
                font-weight: 400;
                color: $font-color;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0;
                line-height: normal;
              }
            }
            .hover-btn-read {
              background-color: $blue-elem;
            }
            .hover-btn-info {
              background-color: $background;
            }
          }
        }
      }
      .category-card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;

        .category-card-title {
          position: relative;
          width: fit-content;
          margin-top: -1px;
          font-family: "Tilt Neon", sans-serif;
          font-weight: 400;
          color: $font-color;
          font-size: 15px;
          text-align: center;
          letter-spacing: 0;
          line-height: normal;
        }
      }
    }
  }
}
