@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@font-face {
  font-family: "Tilt Neon", sans-serif;
}
body {
  background-color: #222831;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 16px 0;
}
.header .main {
  justify-content: space-between;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.header .main .header-nav {
  display: inline-flex;
  flex-wrap: wrap;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0 10px;
  width: fit-content;
}
.header .main .header-nav .category-link {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #00ADB5;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.header .main .header-search-bar-ctn {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.header .main .header-search-bar-ctn .header-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 15px;
  border: 3px solid #EEEEEE;
  width: 60%;
  max-width: 400px;
}
.header .main .header-search-bar-ctn .header-search-bar .filter-search-bar {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #393E46;
  border-radius: 8px;
}
.header .main .header-search-bar-ctn .header-search-bar .filter-search-bar .filter-search-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding: 2px 4px;
}
.header .main .header-search-bar-ctn .header-search-bar .icon-search {
  width: 36.3px;
  height: 35px;
}
.header .variable {
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  gap: 2rem;
  padding: 16px 0;
}
.header .variable .header-buttons {
  height: 35px;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2.5rem;
}
.header .variable .header-buttons .login-btn, .header .variable .header-buttons .register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 12px;
}
.header .variable .header-buttons .login-btn {
  background-color: #00ADB5;
}
.header .variable .header-buttons .register-btn {
  background-color: #393E46;
}
.header .variable .header-buttons .header-btn-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.header .variable .filler {
  display: flex;
  flex: 1;
}
.header .variable .header-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  position: relative;
}
.header .variable .header-msg .line-top {
  width: 174px;
  position: relative;
  height: 2px;
}
.header .variable .header-msg .invitation-msg {
  position: relative;
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #00ADB5;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.header .variable .header-msg .line-bottom {
  width: 237px;
  position: relative;
  height: 2px;
}

.logo {
  display: flex;
  flex: 1;
  object-position: left;
  object-fit: contain;
  height: 60px;
}

.template {
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: #222831;
}

.footer {
  display: flex;
  width: 100%;
  height: 340px;
  align-items: flex-end;
  gap: 3rem;
  background-color: transparent;
  justify-content: center;
}
.footer .footer-nav-credits {
  display: flex;
  flex-direction: column;
  width: 37%;
  align-items: center;
  gap: 9px;
  padding: 20px 0;
}
.footer .footer-nav-credits .logo-ctn {
  display: flex;
  justify-content: center;
  width: 70%;
}
.footer .footer-nav-credits .logo-ctn .logo {
  object-position: center;
}
.footer .footer-nav-credits .footer-nav {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}
.footer .footer-nav-credits .footer-nav .header-nav-text {
  width: 221px;
  height: 25px;
  margin-top: -1px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.footer .footer-nav-credits .credits {
  width: 630px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.footer .footer-nav-credits .copyright {
  width: 528px;
  height: 20px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.footer .footer-img-reading {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 37%;
}

@font-face {
  font-family: "Tilt Neon", sans-serif;
}
a {
  text-decoration: none;
  color: #EEEEEE;
}

.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  min-height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.banner img.background-img {
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  filter: blur(8px) grayscale(20%) brightness(50%);
}
.banner .banner-text {
  display: flex;
  flex: 0 0 auto;
  width: 60%;
  max-width: 1300px;
  max-height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.1rem;
  padding: 10px 20px;
}
.banner .banner-text .banner-title {
  position: relative;
  height: fit-content;
  width: 85%;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 30px;
  text-align: center;
}
.banner .banner-text div.banner-description {
  position: relative;
  height: 65%;
  overflow-y: scroll;
  width: 85%;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(13px + 0.3vw);
  text-align: justify;
}
.banner .banner-text .tags {
  position: relative;
  display: flex;
  width: 90%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: calc(2px + 0.2vw) calc(5px + 0.3vw);
  flex-wrap: wrap;
}
.banner .banner-text .tags .banner-tag {
  display: flex;
  padding: calc(2px + 0.1vw) calc(5px + 0.2vw);
  flex: 0 0 auto;
  background-color: #393E46;
  border-radius: calc(3px + 0.2vw);
  align-items: center;
}
.banner .banner-text .tags .banner-tag .banner-tag-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(9px + 0.3vw);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.banner .banner-text .banner-buttons {
  display: flex;
  width: 500px;
  height: fit-content;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
}
.banner .banner-text .banner-buttons a .read-btn, .banner .banner-text .banner-buttons a .info-btn {
  display: flex;
  width: 125px;
  align-items: center;
  justify-content: center;
  gap: calc(8px + 0.3vw);
  padding: calc(3px + 0.3vw) calc(8px + 0.3vw);
  position: relative;
  align-self: stretch;
  border-radius: calc(8px + 0.3vw);
  overflow: hidden;
}
.banner .banner-text .banner-buttons a .info-btn {
  background-color: #222831;
}
.banner .banner-text .banner-buttons a .read-btn {
  background-color: #00ADB5;
}
.banner .banner-text .banner-buttons .banner-btn-text {
  position: relative;
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(15px + 0.3vw);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.banner .banner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(160px + 12vw);
  aspect-ratio: 12/16;
  margin-right: 5%;
  padding: calc(7px + 0.3vw);
  border-radius: calc(7px + 0.3vw);
  transform: rotate(12deg);
  background-color: #EEEEEE;
  box-shadow: 0 12px 12px 7px rgba(0, 0, 0, 0.2509803922);
}
.banner .banner-card img.banner-cover {
  max-height: 100%;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: calc(3px + 0.2vw);
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: calc(10px + 0.3vw);
}
.category .category-title {
  display: flex;
  align-items: center;
  gap: calc(10px + 0.3vw);
  padding-left: 3rem;
}
.category .category-title .category-title-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(26px + 1vw);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.category .category-list {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  padding: 0 1rem;
  width: fit-content;
  max-width: calc(100% - 2rem);
  overflow-x: scroll;
}
.category .category-list .category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(10px + 0.3vw);
  height: calc(200px + 16vw);
  aspect-ratio: 9/16;
}
.category .category-list .category-card .category-card-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  aspect-ratio: 12/16;
  padding: calc(8px + 0.3vw) 0;
  border-radius: calc(12px + 0.3vw);
  background-color: #EEEEEE;
  box-shadow: 0 7px 7px 5px rgba(0, 0, 0, 0.2509803922);
}
.category .category-list .category-card .category-card-cover .category-card-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: calc(12px + 0.3vw);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter ease-in 200ms;
}
.category .category-list .category-card .category-card-cover .category-card-hover {
  display: none;
}
.category .category-list .category-card .category-card-cover .hover-description {
  display: none;
}
.category .category-list .category-card .category-card-cover .hover-tags {
  display: none;
}
.category .category-list .category-card .category-card-cover .hover-buttons {
  display: none;
}
.category .category-list .category-card .category-card-cover:hover {
  overflow: hidden;
}
.category .category-list .category-card .category-card-cover:hover .category-card-img {
  filter: blur(8px) grayscale(20%) brightness(60%);
}
.category .category-list .category-card .category-card-cover:hover .category-card-hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  min-height: calc(2.2rem + 0.3vw);
  border-radius: calc(12px + 0.3vw) calc(12px + 0.3vw) 0 0;
  top: 0;
  left: 0;
  background-color: #00ADB5;
}
.category .category-list .category-card .category-card-cover:hover .hover-description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 90%;
  height: 60%;
  color: #EEEEEE;
  z-index: 10;
  font-family: "Tilt Neon", sans-serif;
}
.category .category-list .category-card .category-card-cover:hover .hover-description .description-title {
  text-align: center;
  font-size: calc(16px + 0.3vw);
}
.category .category-list .category-card .category-card-cover:hover .hover-description .description-ctn {
  text-align: justify;
  font-size: calc(10px + 0.3vw);
  overflow-y: scroll;
  overflow-wrap: anywhere;
}
.category .category-list .category-card .category-card-cover:hover .hover-tags {
  z-index: 10;
  display: flex;
  width: 90%;
  height: 15%;
  align-items: center;
  justify-content: center;
  gap: 2px 4px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.category .category-list .category-card .category-card-cover:hover .hover-tags a {
  margin: 0;
  padding: 0;
}
.category .category-list .category-card .category-card-cover:hover .hover-tags a .hover-tag {
  display: flex;
  gap: calc(3px + 0.3vw);
  padding: calc(1px + 0.1vw) calc(2px + 0.2vw);
  flex: 0 0 auto;
  background-color: #393E46;
  border-radius: calc(2px + 0.2vw);
  align-items: center;
}
.category .category-list .category-card .category-card-cover:hover .hover-tags a .hover-tag .hover-tag-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(10px + 0.3vw);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.category .category-list .category-card .category-card-cover:hover .hover-buttons {
  z-index: 10;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  font-family: "Tilt Neon", sans-serif;
}
.category .category-list .category-card .category-card-cover:hover .hover-buttons a {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(2px + 0.2vw) calc(8px + 0.3vw);
  border-radius: calc(5px + 0.3vw);
}
.category .category-list .category-card .category-card-cover:hover .hover-buttons a span.hover-btn-text {
  width: fit-content;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: calc(12px + 0.3vw);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.category .category-list .category-card .category-card-cover:hover .hover-buttons .hover-btn-read {
  background-color: #00ADB5;
}
.category .category-list .category-card .category-card-cover:hover .hover-buttons .hover-btn-info {
  background-color: #222831;
}
.category .category-list .category-card .category-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.category .category-list .category-card .category-card-info .category-card-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
