<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="manga-chapters">
    <div class="chapters-header">
        <div class="title-ctn"><div class="title">Chapters</div></div>
        <div class="sorting">
            <div class="sort-title">Sort:</div>
            <div class="sort-tag"><div class="sort-tag-text">Descending</div></div>
            <div class="sort-tag"><div class="sort-tag-text">Ascending</div></div>
        </div>
    </div>
    <div class="chapters-list">
        <div class="chapter">
            <p class="chapter-title">Ch. 56 - [Season 2 End]</p>
            <div class="source">
                <img class="icon-group" src="img/icon-group-34.png" />
                <div class="source-name">Reaper_Scans</div>
            </div>
            <img class="icon-menu-book" src="img/icon-menu-book-29.png" />
        </div>
    </div>
</div>

</body>
</html>