<!DOCTYPE html>
<html lang="en">
<body>
    <div><span>Hello </span><span>{{.Username}}!</span></div><br/><br/>
    <div><span>Please follow the link to set a new password</span></div>
    <div><a href="http://localhost:8080/update-credentials?id={{.ConfirmID}}">Set a new password</a></div><br/>
    <div><p>If you didn't initiate this process, don't click on the link, and your password will not be changed. This link will be disabled tomorrow at 14:00 or 2:00 (Paris timezone)</p></div>
    <footer>
        <div>
            <p>Welcome back to the MangaThorg team.</p>
            <p>Please don't reply to this mail!</p>
        </div>
    </footer>
</body>
</html>